body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #0066cc;
}

p {
    color: #666;
}

/* Style de la zone de contenu */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.info-title {
    color: #a00d0d;
    margin-bottom: 5px;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: none;
}

.select-styled {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.select-styled:after {
    content: '\25BC'; /* Flèche vers le bas */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Style pour les options de la liste déroulante */
.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.custom-select.open .select-options {
    display: block;
}

.select-option {
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
}

.select-option:hover {
    background-color: #f0f0f0;